.task__view__container {
    height: calc(100vh - 101px);
    padding: 48px 40px 0 40px;
    display: flex;
    flex-direction: column;

    @media (width <=576px) {
        height: calc(100vh - 87px);
        padding: 34px 24px 0 24px;
    }

    header {
        display: flex;
        justify-content: space-between;

        .task__cat {
            width: fit-content;
            padding: 4px 16px;
            border-radius: 8px;
            font-size: 23px;
            font-weight: 400;
            color: white;
            text-shadow: 0 0 1px black;

            @media (width <=576px) {
                font-size: 16px;
            }
        }

        .category__tech {
            background-color: #1FD7C1;
        }

        .category__user {
            background-color: #0038FF;
        }

        .hover__area {
            width: 30px;
            height: 30px;
        }

        span {
            font-size: 25px;
            color: var(--main-slate)
        }
    }

    h2 {
        font-size: 61px;
        margin: 25px 0 15px 0;

        @media (width <=576px) {
            font-size: 36px;
        }
    }

    .dateprio {
        margin-bottom: 8px;

        .spacer {
            height: 10px;
        }

        tr {

            .head {
                color: #42526E;
                width: 120px;

                @media (width <=576px) {
                    font-size: 16px;
                }
            }

            .content {
                white-space: nowrap;

                @media (width <=576px) {
                    font-size: 16px;
                }
            }

            .prio {
                display: flex;
                text-transform: capitalize;

                @media (width <=576px) {
                    font-size: 16px;
                }

                div {
                    font-size: 24px;
                    font-weight: 700;
                    margin-left: 6px;

                    @media (width <=576px) {
                        font-size: 20px;
                    }
                }
            }

            .prio__red {
                color: var(--task-prio-urgent);
            }

            .prio__yellow {
                color: var(--task-prio-medium);
            }

            .prio__green {
                color: var(--task-prio-low);
            }
        }
    }

    .assigned {

        .assigned__head {
            color: #42526E;
            padding-bottom: 10px;

            @media (width <=576px) {
                font-size: 16px;
            }
        }

        .assignee {

            .assignee__initials {
                padding-left: 12px;
                padding-bottom: 10px;

                @media (width <=576px) {
                    padding-left: 6px;
                }

                div {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (width <=576px) {
                        width: 35px;
                        height: 35px;
                        font-size: 14px;
                    }
                }
            }

            .assignee__names {
                padding-left: 16px;
                padding-bottom: 10px;

                @media (width <=576px) {
                    font-size: 16px;
                }
            }
        }
    }

    .subtasks__header {
        color: #42526E;

        @media (width <=576px) {
            font-size: 16px;
        }
    }

    .subtasks__container {
        margin-left: 24px;
        margin-bottom: 24px;

        .subtasks {
            margin-top: 10px;

            .css-checkbox {
                position: absolute;
                overflow: hidden;
                clip: rect(0 0 0 0);
                height: 1px;
                width: 1px;
                margin: -1px;
                padding: 0;
                border: 0;
            }

            #inputPreview {
                display: flex;
                gap: 20px;
                justify-content: center;
            }

            .css-checkbox+label {
                position: relative;
                font-size: 16px;
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                height: 20px;
                color: var(--general-text-black);
            }

            .css-checkbox+label::before {
                content: " ";
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
                width: 16px;
                height: 16px;
                background-color: white;
                border-width: 2px;
                border-style: solid;
                border-color: var(--main-slate);
                border-radius: 3px;
                box-shadow: none;
            }

            .css-checkbox:checked+label::after {
                content: " ";
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMmEzNjQ3IiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
                background-repeat: no-repeat;
                background-size: 16px 16px;
                background-position: center center;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 0px;
                left: 0px;
                top: 0px;
                text-align: center;
                background-color: transparent;
                font-size: 10px;
                height: 20px;
                width: 20px;
            }

            label {
                font-size: 18px !important;

                @media (width <=576px) {
                    font-size: 14px !important;
                }
            }
        }
    }

    .details__btns {
        flex: 1;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 36px;

        @media (width <=576px) {
            padding-bottom: 24px;
        }

        div {
            display: flex;
            align-items: center;
            padding: 8px 16px 8px 0;
            gap: 8px;
            cursor: pointer;
            transition: all 100ms ease-in;

            &:hover {
                color: var(--accent-cyan);
                transform: scale(1.01);
            }
        }
    }
}