<div class="task__view__container">

    <header>
        <div class="task__cat" [ngClass]="{'category__tech': taskData.category === 'Technical Task',
    'category__user': taskData.category === 'User Story'}">{{ taskData.category }}</div>
        <div (click)="closeDialog()" class="hover__area no__select">
            <div class="transform__circle"></div>
            <span class="material__symbols__outlined single__icon">close</span>
        </div>
    </header>

    <h2>{{ taskData.title }}</h2>

    <table class="dateprio">
        <tr>
            <td class="description" colspan="2">{{ taskData.description }}</td>
        </tr>
        <tr>
            <td class="head">Due date:</td>
            <td class="content">{{ taskData.dueDate }}</td>
        </tr>
        <tr>
            <td class="head">Priority:</td>
            <td class="content prio">{{ taskData.priority }}
                <div *ngIf="taskData.priority === 'urgent'" class="material__symbols__outlined prio__red">
                    keyboard_double_arrow_up
                </div>
                <div *ngIf="taskData.priority === 'medium'"
                    class="material__symbols__outlined prio__yellow">double_arrow</div>
                <div *ngIf="taskData.priority === 'low'" class="material__symbols__outlined prio__green">
                    keyboard_double_arrow_down
                </div>
            </td>
        </tr>
    </table>

    <div class="details__btns">
        <div (click)="deleteTask()" class="details__delete__btn"><span class="material__symbols__outlined">delete</span>
            Delete</div>
        <div (click)="setEditMode()" class="details__edit__btn"><span class="material__symbols__outlined">edit</span>
            Edit
        </div>
    </div>

</div>