:host {
    --contacts-header-height: 100px;
}

.contacts__container {
    height: 100%;
    display: flex;

    .contacts__list {
        height: 100%;

        .contacts__header {

            button {
                width: calc(100% - 16px);
                display: flex;
                justify-content: center;
                margin: 8px;

                span {
                    font-weight: 500 !important;
                    font-size: 26px !important;
                }
            }
        }

        .contacts__entries {
            height: calc(100% - var(--contacts-header-height));
            width: 456px;
            overflow-y: auto;
        }
    }
}