<div class="contacts__container">

    <div class="contacts__list">

        <div class="contacts__header">
            <button class="btn__primary">Add new contact<span
                    class="material__symbols__outlined">person_add</span></button>
        </div>

        <div class="contacts__entries">
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
            <p>AAAAA</p>
        </div>

    </div>

    <div class="contacts__details">

        <header class="header__desktop">
            <h2>Contacts</h2>
            <div class="hr__container">
                <hr>
            </div>
            <span>Better with a team</span>
        </header>
        <header class="header__mobile">
            <h2>Contacts</h2>
            <span>Better with a team</span>
            <div></div>
        </header>

    </div>

</div>