<div class="contacts__container">

    <div class="contacts__list">

        <div class="contacts__header">
            <button type="button" (click)="openAddUserDialog()" class="btn__primary">Add new contact<span
                    class="material__symbols__outlined">person_add</span></button>
        </div>

        <div class="contacts__entries">
            <div *ngFor="let letter of alphabet" class="data__loop">
                <ng-container *ngIf="hasContactsForLetter(letter)">
                    <div class="alphabet__header">{{ letter }}</div>
                    <div class="alphabet__body">
                        <div class="single__entry" *ngFor="let index of groupedContacts[letter]">
                            <div class="entry__initials" [ngStyle]="{'background-color': index.userColor}">{{ index.userInitials }}</div>
                            <div class="entry__right">
                                <div class="entry__name">{{ index.userName }}</div>
                                <div class="entry__mail">{{ index.userEmailAddress }}</div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

    </div>

    <div class="contacts__details">

        <header class="header__desktop">
            <h2>Contacts</h2>
            <div class="hr__container">
                <hr>
            </div>
            <span>Better with a team</span>
        </header>
        <header class="header__mobile">
            <h2>Contacts</h2>
            <span>Better with a team</span>
            <div></div>
        </header>

    </div>

</div>