.addtask__container {
    width: calc(100% - 96px);
    // height: calc(100% - 96px);
    padding: 48px 48px 64px 48px;
    display: flex;
    flex-direction: column;

    @media (width <=992px) {
        width: calc(100% - 32px);
        padding: 32px 16px 48px 16px;
    }

    h2 {
        font-size: 61px;
        font-weight: 700;
        margin: 0;
    }

    form {
        width: 100%;
        
        label {
            display: block;
            font-size: 20px;
        }

        .form__body {
            display: flex;

            .form__left {
                width: 50%;

                textarea {
                    resize: none;
                }
            }

            hr {
                margin: 0 48px;
            }

            .form__right {
                width: 50%;
            }
        }
    }
}

.asterisk {
    color: #FF8190;
}