<div class="addtask__container">

    <h2>Add Task</h2>

    <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">

        <div class="form__body">

            <div class="form__left">
                <label for="addTaskTitle">Title<span class="asterisk">*</span></label>
                <input id="addTaskTitle" formControlName="title" required placeholder="Enter a Title" />
                <div class="input__required"></div>

                <label for="addTaskDescription">Description</label>
                <textarea id="addTaskDescription" formControlName="description"
                    placeholder="Enter a Description"></textarea>

                <label for="addTaskAssignedTo">Assigned to</label>
                <select id="addTaskAssignedTo" formControlName="assignedTo">
                    <option value="">Select a contact to assign</option>
                    <option value="user0">User 0</option>
                    <option value="user1">User 1</option>
                    <option value="user2">User 2</option>
                </select>
            </div>

            <hr>

            <div class="form__right">

                <label for="addTaskDueDate">Due date<span class="asterisk">*</span></label>
                <input id="addTaskDueDate" formControlName="dueDate" type="date" [min]="today" class="inputs__right input__date">
                <div class="input__required"></div>

                <label for="addTaskPrio">Prio</label>
                <div class="prio__container">
                    <button id="addTaskPrioHigh" type="button" (click)="setPriority('urgent')" [class.btn__red]="selectedPriority === 'urgent'">
                        Urgent<div class="material__symbols__outlined red">keyboard_double_arrow_up</div>
                    </button>
                    <button id="addTaskPrioMiddle" type="button" (click)="setPriority('medium')" [class.btn__yellow]="selectedPriority === 'medium'">
                        Medium<div class="material__symbols__outlined yellow">double_arrow</div>
                    </button>
                    <button id="addTaskPrioLow" type="button" (click)="setPriority('low')" [class.btn__green]="selectedPriority === 'low'">
                        Low<div class="material__symbols__outlined green">keyboard_double_arrow_down</div>
                    </button>
                </div>

                <label for="addTaskCategory">Category<span class="asterisk">*</span></label>
                <select id="addTaskCategory" formControlName="category">
                    <option value="">Select a task category</option>
                    <option value="category0">Category 0</option>
                    <option value="category1">Category 1</option>
                    <option value="category2">Category 2</option>
                </select>
                <div class="input__required"></div>

                <label for="addTaskSubTask">Subtasks</label>
                <input id="addTaskSubTask" formControlName="subTask" class="inputs__right">
                
            </div>

        </div>

        <div class="form__footer">
            <span><span class="asterisk">*</span>This field is required</span>
            <button>Clear</button>
            <button type="submit" class="btn__primary">Create Task</button>
        </div>
    </form>
</div>