<div class="addtask__container">

    <h2>Add Task</h2>

    <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">

        <div class="form__body">

            <div class="form__left">

                <label for="addTaskTitle">Title<span class="asterisk">*</span></label>
                <input id="addTaskTitle" formControlName="title" required placeholder="Enter a Title" />
                <div class="input__required">
                    <!-- <span>This field is required</span> -->
                </div>

                <label for="addTaskDescription">Description</label>
                <textarea id="addTaskDescription" formControlName="description"
                    placeholder="Enter a Description"></textarea>

                <!-- <label for="addTaskAssignedTo">Assigned to</label>
                <select id="addTaskAssignedTo" formControlName="assignedTo">
                    <option value="">Select a contact to assign</option>
                    <option value="user0">User 0</option>
                    <option value="user1">User 1</option>
                    <option value="user2">User 2</option>
                </select> -->

                <label for="addTaskAssignedTo">Assigned to</label>
                <div class="select">
                    <select id="addTaskAssignedTo" formControlName="assignedTo">
                        <option value="">Select a contact to assign</option>
                        <option value="">{{ currentUserData.userInitials }} {{ currentUserData.userName }} (You)
                        </option>
                        <ng-container *ngFor="let user of allUsersData">
                            <option *ngIf="user.userEmailAddress !== currentUserData.userEmailAddress"
                                [value]="user.userInitials">{{ user.userInitials }} {{ user.userName }}</option>
                        </ng-container>
                    </select>
                    <div class="select_arrow">
                    </div>
                </div>

                <label for="addTaskAssignedTo">Assigned to</label>
                <div class="assign__select" #customSelectRef>
                    <div class="header" (click)="toggleDropdown()" tabindex="0" #selectedOptionRef>
                        <span>Select a contact to assign</span>
                        <span class="material__symbols__outlined">
                            arrow_drop_down
                        </span>
                    </div>
                    <div class="options" *ngIf="showAssignedDropdown">
                        <div class="options__body">
                            <div (click)="selectOption(currentUserData)" (mousedown)="preventFocusLoss($event)"
                                [class.selected]="currentUserData.selected">
                                <div class="options__left">
                                    <span class="initials"
                                        [ngStyle]="{'background-color': currentUserData.userColor}">{{
                                        currentUserData.userInitials }}</span>{{ currentUserData.userName }} (You)
                                </div>
                                <input type="checkbox" [checked]="currentUserData.selected" readonly />
                            </div>
                            <ng-container *ngFor="let user of allUsersData">
                                <div *ngIf="user.userEmailAddress !== currentUserData.userEmailAddress"
                                    (click)="selectOption(user)" (mousedown)="preventFocusLoss($event)"
                                    [class.selected]="user.selected">
                                    <div class="options__left"><span class="initials"
                                            [ngStyle]="{'background-color': user.userColor}">{{ user.userInitials
                                            }}</span>{{ user.userName }}</div>
                                    <input type="checkbox" [checked]="user.selected" readonly />
                                </div>
                            </ng-container>
                        </div>
                        <button>Add new contact<span class="material__symbols__outlined">person_add</span></button>
                    </div>
                </div>


            </div>

            <hr>

            <div class="form__right">

                <label for="addTaskDueDate">Due date<span class="asterisk">*</span></label>
                <input id="addTaskDueDate" formControlName="dueDate" type="date" [min]="today"
                    class="inputs__right input__date">
                <div class="input__required">
                    <!-- <span>This field is required</span> -->
                </div>

                <label for="addTaskPrio">Prio</label>
                <div class="prio__container">
                    <button id="addTaskPrioHigh" type="button" (click)="setPriority('urgent')"
                        [class.btn__red]="selectedPriority === 'urgent'">
                        Urgent<div class="material__symbols__outlined red">keyboard_double_arrow_up</div>
                    </button>
                    <button id="addTaskPrioMiddle" type="button" (click)="setPriority('medium')"
                        [class.btn__yellow]="selectedPriority === 'medium'">
                        Medium<div class="material__symbols__outlined yellow">double_arrow</div>
                    </button>
                    <button id="addTaskPrioLow" type="button" (click)="setPriority('low')"
                        [class.btn__green]="selectedPriority === 'low'">
                        Low<div class="material__symbols__outlined green">keyboard_double_arrow_down</div>
                    </button>
                </div>

                <!-- <label for="addTaskCategory">Category<span class="asterisk">*</span></label>
                <select id="addTaskCategory" formControlName="category">
                    <option value="">Select a task category</option>
                    <option value="category0">Category 0</option>
                    <option value="category1">Category 1</option>
                    <option value="category2">Category 2</option>
                </select> -->

                <label for="addTaskCategory">Category<span class="asterisk">*</span></label>
                <div class="select">
                    <select id="addTaskCategory" formControlName="category">
                        <option value="">Select a task category</option>
                        <option value="category0">Category 0</option>
                        <option value="category1">Category 1</option>
                        <option value="category2">Category 2</option>
                    </select>
                    <div class="select_arrow">
                    </div>
                </div>
                <div class="input__required">
                    <!-- <span>This field is required</span> -->
                </div>

                <label for="addTaskSubTask">Subtasks</label>
                <input id="addTaskSubTask" formControlName="subTask" class="inputs__right">

            </div>

        </div>

        <div class="form__footer">
            <span><span class="asterisk">*</span>This field is required</span>
            <div class="footer__right">
                <button class="btn__secondary btn__secondary__main">Clear <span class="material__symbols__outlined">
                        close
                    </span></button>
                <button type="submit" class="btn__primary">Create Task <span class="material__symbols__outlined">
                        check
                    </span></button>
            </div>
        </div>
    </form>
</div>