.addtask__container {
    width: calc(100% - 96px);
    // height: calc(100% - 96px);
    padding: 48px 48px 64px 48px;
    display: flex;
    flex-direction: column;

    @media (width <=992px) {
        width: calc(100% - 32px);
        padding: 32px 16px 48px 16px;
    }

    h2 {
        font-size: 61px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 40px;
    }

    form {
        width: 100%;

        .asterisk {
            color: #FF8190;
        }

        .form__body {
            display: flex;

            label {
                display: block;
                font-size: 20px;
                margin-bottom: 8px;
            }

            input {
                width: calc(100% - 48px);
                padding: 10px 21px;
                border-radius: 10px;
                border: 1px solid var(--inactive-lite-grey);
                font-size: var(--fontsize-body);
                font-family: inherit;
                margin-bottom: 32px;
            }

            textarea {
                width: calc(100% - 48px);
                height: 100px;
                padding: 10px 21px;
                border-radius: 10px;
                border: 1px solid var(--inactive-lite-grey);
                font-size: 20px;
                font-weight: 400;
                font-family: inherit;
                margin-bottom: 32px;
            }

            select {
                width: 100%;
                padding: 10px 21px;
                border-radius: 10px;
                border: 1px solid var(--inactive-lite-grey);
                font-size: 20px;
                font-weight: 400;
                font-family: inherit;
                margin-bottom: 32px;
            }

            option {
                font-family: inherit;
            }

            .form__left {
                width: 50%;

                textarea {
                    resize: none;
                }
            }

            hr {
                margin: 0 48px 32px 48px;
            }

            .form__right {
                width: 50%;

                .inputs__right {
                    width: calc(100% - 44px);
                }

                .input__date {
                    height: 24px;
                }

                .prio__container {
                    display: flex;
                    gap: 16px;

                    button {
                        flex: 1;
                        min-width: 142px;
                        font-family: inherit;
                        margin-bottom: 32px;
                        padding: 10px 16px;
                        border-radius: 10px;
                        border: 1px solid var(--inactive-lite-grey);
                        background-color: #FFF;
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        .material__symbols__outlined {
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }
}