.add__contact__container {
    width: 100%;
    height: 100%;
    display: flex;
    
    .left {
        width: 594px;
        background-color: var(--main-slate);
        padding: 48px;
    }

    .right {
        background-color: #FFF;
        flex: 1;
        padding: 48px;

        .right__header {
            display: flex;
            justify-content: flex-end;
            
            .hover__area {
                width: 30px;
                height: 30px;
            }

            span {
                font-size: 25px;
                color: var(--main-slate)
            }
        }
    }
}