.add__contact__container {
    width: 100%;
    height: 100%;
    display: flex;

    .left {
        width: fit-content;
        height: calc(100% - 96px);
        background-color: var(--main-slate);
        padding: 48px;

        .left__content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #FFF;

            img {
                width: 44px;
                height: auto;
                margin-bottom: 16px;
            }

            h2 {
                font-size: 49px;
                margin: 0 0 8px 0;
            }

            span {
                font-size: 21.5px;
                font-weight: 300;
            }

            .line {
                width: 76px;
                border-bottom: 3px solid var(--accent-cyan);
                border-radius: 5px;
                margin-top: 8px;
            }

            .spacer {
                height: 69px;
            }
        }
    }

    .right {
        height: calc(100% - 96px);
        background-color: #FFF;
        flex: 1;
        padding: 48px;
        display: flex;
        flex-direction: column;

        .right__header {
            display: flex;
            justify-content: flex-end;

            .hover__area {
                width: 30px;
                height: 30px;
            }

            span {
                font-size: 25px;
                color: var(--main-slate)
            }
        }

        .right__body {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 58px;

            .symbol__person {
                width: 92px;
                height: 92px;
                border-radius: 50%;
                border: 2px solid #FFF;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
                background-color: #D1D1D1;
                font-size: 50px;
                color: #FFF;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            form {
                flex: 1;
                display: flex;
                flex-direction: column;
            }
        }
    }
}