<div class="add__contact__container">

    <div class="left">

        <div class="left__content">
            <img src="assets/img/main/sidebar/j-white.webp" alt="Main join logo" draggable="false">
            <h2>Add contact</h2>
            <div>Tasks are better with a team!</div>
        </div>

        <header class="header__mobile">
            <h2>Join 360</h2>
            <span>Key Metrics at a Glance</span>
            <div></div>
        </header>
        
    </div>

    <div class="right">
        <div class="right__header">
            <div (click)="closeDialog()" class="hover__area no__select">
                <div class="transform__circle"></div>
                <span class="material__symbols__outlined single__icon">close</span>
            </div>
        </div>
        <div>
            <img src="" alt="">
            <div class="add__user__form">
                <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
                    <input [(ngModel)]="contact.contactName" formControlName="contactName" placeholder="Name">
                    <input [(ngModel)]="contact.contactEmailAddress" formControlName="contactEmailAddress" placeholder="Email">
                    <input [(ngModel)]="contact.contactPhoneNumber" formControlName="contactPhoneNumber" placeholder="Phone">
                    <button>Save</button>
                </form>
            </div>
        </div>
    </div>

</div>