<div class="auth__container">

    <header>
        <img src="assets/img/auth/intro-j.webp" alt="" draggable="false">
    </header>

    <main>
        <div class="window">
            <div class="window__header">
                <div class="window__header__side">
                    <div class="hover__area no__select">
                        <div class="transform__circle"></div>
                        <span routerLink="/" class="material__symbols__outlined single__icon">arrow_back</span>
                    </div>
                </div>
                <h1>Reset your password
                </h1>
                <div class="window__header__side"></div>
            </div>

            <hr>

            <p>Change your account password here.</p>

            <form [formGroup]="confirmNewPasswordForm" (ngSubmit)="onSubmit()">

                <div class="input__container">
                    <span (click)="confirmNewPasswordPassword.focus()" class="material__symbols__outlined">
                        lock
                    </span>
                    <input #confirmNewPasswordPassword id="confirmNewPasswordPassword" formControlName="confirmNewPasswordPassword" placeholder="Password" type="email">
                </div>
                <div class="incorrect__input">
                    <span *ngIf="confirmNewPasswordForm.controls.confirmNewPasswordPassword.invalid &&
                    confirmNewPasswordForm.controls.confirmNewPasswordPassword.touched  && 
                    confirmNewPasswordForm.controls.confirmNewPasswordPassword.value">Password must be at least 8 characters long.</span>
                </div>

                <div class="input__container">
                    <span (click)="confirmNewPasswordPassword.focus()" class="material__symbols__outlined">
                        lock
                    </span>
                    <input #confirmNewPasswordPassword id="confirmNewPasswordPassword" formControlName="confirmNewPasswordPassword" placeholder="Password" type="email">
                </div>
                <div class="incorrect__input">
                    <span *ngIf="confirmNewPasswordForm.controls.confirmNewPasswordPassword.invalid &&
                    confirmNewPasswordForm.controls.confirmNewPasswordPassword.touched  && 
                    confirmNewPasswordForm.controls.confirmNewPasswordPassword.value">Password must be at least 8 characters long.</span>
                </div>

                <div class="login__btns">
                    <button routerLink="/auth-confirm-new-password" type="submit" class="btn__primary">Send me the email</button>
                </div>

            </form>

        </div>
    </main>
</div>