<div class="auth__container">

    <header>
        <img src="assets/img/auth/intro-j.webp" alt="" draggable="false">
    </header>

    <main>
        <div class="window">
            <div class="window__header">
                <div class="window__header__side">
                    <div class="hover__area no__select">
                        <div class="transform__circle"></div>
                        <span routerLink="/" class="material__symbols__outlined single__icon">arrow_back</span>
                    </div>
                </div>
                <h1>Reset your password
                </h1>
                <div class="window__header__side"></div>
            </div>

            <hr>

            <p>Change your account password here.</p>

            <form [formGroup]="confirmNewPasswordForm" (ngSubmit)="onSubmit()">

                <div class="input__container">
                    <span (click)="confirmNewPasswordPassword0.focus()" class="material__symbols__outlined">
                        lock
                    </span>
                    <input #confirmNewPasswordPassword0 id="confirmNewPasswordPassword0"
                        formControlName="confirmNewPasswordPassword0" placeholder="New password" type="password" autocomplete="current-password">
                </div>
                <div class="incorrect__input">
                    <span *ngIf="confirmNewPasswordForm.controls.confirmNewPasswordPassword0.invalid &&
                    confirmNewPasswordForm.controls.confirmNewPasswordPassword0.touched  && 
                    confirmNewPasswordForm.controls.confirmNewPasswordPassword0.value">Password must be at least 8
                        characters long.</span>
                </div>

                <div class="input__container">
                    <span (click)="confirmNewPasswordPassword1.focus()" class="material__symbols__outlined">
                        lock
                    </span>
                    <input #confirmNewPasswordPassword1 id="confirmNewPasswordPassword1"
                        formControlName="confirmNewPasswordPassword1" placeholder="Confirm password" type="password" autocomplete="current-password">
                </div>
                <div class="incorrect__input">
                    <span *ngIf="confirmNewPasswordForm.controls.confirmNewPasswordPassword1.invalid &&
                    confirmNewPasswordForm.controls.confirmNewPasswordPassword1.touched  && 
                    confirmNewPasswordForm.controls.confirmNewPasswordPassword1.value">Password must be at least 8
                        characters long.</span>
                </div>

                <div class="login__btns">
                    <button routerLink="/" type="submit" class="btn__primary">Continue</button>
                </div>

            </form>

        </div>
    </main>
</div>