<aside>

    <img src="assets/img/main/sidebar/j-white.webp" alt="Main join logo" draggable="false">

    <nav>
        <div class="point" [class.active]="currentlyClicked === 'summary'" (click)="displayMainSection('summary')">
            <div class="spacer"></div><span class="material__symbols__outlined">space_dashboard</span>Summary
        </div>
        <div class="point" [class.active]="currentlyClicked === 'board'" (click)="displayMainSection('board')">
            <div class="spacer"></div><span class="material__symbols__outlined">view_week</span>Board
        </div>
        <div class="point" [class.active]="currentlyClicked === 'addTask'" (click)="displayMainSection('addTask')">
            <div class="spacer"></div><span class="material__symbols__outlined">edit_square</span>Add Task
        </div>
        <div class="point" [class.active]="currentlyClicked === 'contacts'" (click)="displayMainSection('contacts')">
            <div class="spacer"></div><span class="material__symbols__outlined">account_box</span>Contacts
        </div>
    </nav>

    <div class="info">
        <div class="info__point" [class.active]="currentlyClicked === 'summary'" (click)="displayMainSection('summary')">
            Summary
        </div>
        <div class="info__point" [class.active]="currentlyClicked === 'board'" (click)="displayMainSection('board')">
            Board
        </div>
    </div>

</aside>
<main>
    <app-main-header></app-main-header>
    <section>
        <app-main-summary *ngIf="currentlyDisplayed === 'summary'"></app-main-summary>
        <app-main-add-task *ngIf="currentlyDisplayed === 'addTask'"></app-main-add-task>
        <app-main-board *ngIf="currentlyDisplayed === 'board'"></app-main-board>
        <app-main-contacts *ngIf="currentlyDisplayed === 'contacts'"></app-main-contacts>
        <app-info-help *ngIf="currentlyDisplayed === 'help'"></app-info-help>
    </section>
</main>
<footer>
    <div class="point no__select" [class.active]="currentlyClicked === 'summary'"
        (click)="displayMainSection('summary')"><span class="material__symbols__outlined">space_dashboard</span>Summary
    </div>
    <div class="point no__select" [class.active]="currentlyClicked === 'board'" (click)="displayMainSection('board')">
        <span class="material__symbols__outlined">view_week</span>Board
    </div>
    <div class="point no__select" [class.active]="currentlyClicked === 'addTask'"
        (click)="displayMainSection('addTask')"><span class="material__symbols__outlined">add_box</span>Add Task</div>
    <div class="point no__select" [class.active]="currentlyClicked === 'contacts'"
        (click)="displayMainSection('contacts')"><span class="material__symbols__outlined">account_box</span>Contacts
    </div>
</footer>