:host {
    display: flex;
    width: 100vw;
    height: 100vh;

    // @media (width <=768px) {
    //     flex-direction: column-reverse;
    // }

    @media (width <=768px) {
        flex-direction: column;
    }
}

aside {
    background-color: #2A3647;
    width: 300px;
    height: 100%;

    @media (width <=768px) {
        display: none;
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    app-main-header {
        height: 96px;
        display: flex;
        justify-content: space-between;
    }

    section {
        flex: 1;
        background-color: #7e7e7e;
        overflow-y: auto;

        @media (width <=768px) {
            flex: auto;
            height: calc(100vh - 110px - 110px);
            overflow-y: auto;
        }

        .contacts__container {
            height: 100%;
            display: flex;

            div {
                height: 100%;
                overflow-y: auto;
            }
        }
    }
}

footer {
    height: 110px;
    display: flex;
    
    @media (width >768px) {
        display: none;
    }
}