// :host {
//     display: flex;
//     width: 100vw;
//     height: 100vh;

//     @media (width <=992px) {
//         flex-direction: column;
//     }
// }

aside {
    width: 250px;
    height: 100vh;
    background-color: var(--main-slate);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (width <=992px) {
        display: none;
    }

    img {
        width: 100px;
        height: auto;
        margin-top: 75px;
    }

    nav {
        margin-top: 100px;

        .point {
            width: 250px;
            height: 46px;
            display: flex;
            align-items: center;
            color: #CDCDCD;
            font-size: 20px;
            cursor: pointer;
            transition: background-color 75ms ease-in-out;
            margin-bottom: 15px;

            .spacer {
                width: 61px;
            }

            span {
                margin-right: 10px;
                font-size: 28px;
            }

            &:hover {
                background-color: #2a3d59;
            }
        }

        div.active {
            background-color: var(--nav-darkblue-highlight);
            color: var(--window-white);

            &:hover {
                background-color: var(--nav-darkblue-highlight);
            }
        }
    }

    .info {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 64px;

        @media (width <=992px) {
            display: none;
        }

        .info__point {
            width: 190px;
            height: 46px;
            padding-left: 60px;
            font-size: 20px;
            color: #A8A8A8;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-top: 7.5px;
            transition: background-color 75ms ease-in-out;

            &:hover {
                background-color: #2a3d59;
            }
        }

        div.active {
            background-color: var(--nav-darkblue-highlight);
            color: var(--window-white);

            &:hover {
                background-color: var(--nav-darkblue-highlight);
            }
        }
    }
}

main {
    flex: 1;

    app-main-header {
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--window-white);
        padding: 0 40px 0 64px;

        @media (width <=992px) {
            height: 80px;
            padding: 0 16px;
        }
    }

    section {
        box-shadow: inset 0 6px 10px -5px rgba(0, 0, 0, 0.2);
        height: calc(100vh - 96px);
        background-color: var(--background-offwhite);
        overflow-y: auto;

        @media (width <=992px) {
            flex: auto;
            height: calc(100vh - 110px - 49px);
            overflow-y: auto;
        }

        @media (width <=576px) {
            &::-webkit-scrollbar {
                scrollbar-width: none;
                width: 0;
            }
        }

        .contacts__container {
            height: 100%;
            display: flex;

            div {
                height: 100%;
                overflow-y: auto;
            }
        }
    }
}

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--main-slate);

    @media (width >992px) {
        display: none;
    }

    @media (width <=390px) {
        gap: 2px;
    }

    .point {
        width: 72px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #CDCDCD;
        font-size: 14px;
        border-radius: 20px;
        padding: 14px 10px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span {
            font-size: 30px;
        }
    }

    div.active {
        background-color: var(--nav-darkblue-highlight);
        color: var(--window-white);
    }
}