<aside>JOIN</aside>
<main>
    <app-main-header></app-main-header>
    <section>
        <app-main-summary></app-main-summary>
        <!-- <div class="contacts__container">
            <div>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
                <p>AAAAA</p>
            </div>
            <h2>Contacts Better with Team</h2>
        </div> -->
        
    </section>
</main>
<footer>FOOTER</footer>