<div class="board__container">

    <header>

        <h2>Board</h2>

        <div class="header__right">
            <div class="input__container">
                <span (click)="searchBar.focus()" class="material__symbols__outlined magnifier">
                    search
                </span>
                <span (click)="searchBar.focus()" class="pipe">
                    |
                </span>
                <input placeholder="Find Task" #searchBar placeholder="Name">
            </div>
            <button class="btn__primary" type="button">Add task <span class="material__symbols__outlined">
                add
            </span></button>
        </div>

    </header>

    <main>

        <section class="to__do">

            <div class="section__header">
                <h3>To do</h3>
                <span class="material__symbols__outlined">
                    add
                </span>
            </div>

            <div class="to__do__body">

                <div class="task__card">

                    <div class="task__cat">Test Category</div>

                    <div class="card__body">
                        <div class="task__title">
                            Kochwelt Page & Recipe Recommender
                        </div>
                        <div class="task__description">
                            Build start page with recipe recommendation...
                        </div>
                    </div>

                    <div class="task__subtasks">
                        <div class="progress__bar"></div>
                        <div class="progress__text">1/2 Subtasks</div>
                    </div>

                    <div class="card__footer">
                        <div class="assigned__users"></div>
                        <div class="task__priority"></div>
                    </div>
                </div>

            </div>

        </section>

        <section class="in__progress"></section>

        <section class="await__feedback"></section>

        <section class="done"></section>

    </main>
    
    <!-- <main>
        <div class="main__element">
            <h3>To do</h3>
            <div class="column__body">
                <div class="card">
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                </div>
                <div class="card">
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                </div>
                <div class="card">
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                </div>
                <div class="card">
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                </div>
                <div class="card">
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                </div>
                <div class="card">
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                    <p>AAAAAAA</p>
                </div>
            </div>
        </div>
        <div class="main__element">
            <h3>In progress</h3>
            <div class="card">
                <p>AAAAAAA</p>
                <p>AAAAAAA</p>
                <p>AAAAAAA</p>
                <p>AAAAAAA</p>
            </div>
        </div>
        <div class="main__element">
            <h3>Await feedback</h3>
            <div class="card">
                <p>AAAAAAA</p>
                <p>AAAAAAA</p>
                <p>AAAAAAA</p>
                <p>AAAAAAA</p>
            </div>
        </div>
        <div class="main__element">
            <h3>Done</h3>
            <div class="card">
                <p>AAAAAAA</p>
                <p>AAAAAAA</p>
                <p>AAAAAAA</p>
                <p>AAAAAAA</p>
            </div>
        </div>
    </main> -->
</div>