<div class="board__container">

    <header>

        <h2>Board</h2>

        <div class="header__right">
            <div class="input__container">
                <span (click)="searchBar.focus()" class="material__symbols__outlined magnifier">
                    search
                </span>
                <span (click)="searchBar.focus()" class="pipe">
                    |
                </span>
                <input placeholder="Find Task" #searchBar placeholder="Name">
            </div>
            <button class="btn__primary" type="button">Add task <span class="material__symbols__outlined">
                    add
                </span></button>
        </div>

    </header>

    <main #mainContainer>

        <section class="to__do">

            <div class="section__header">
                <h3>To do</h3>
                <span class="material__symbols__outlined">
                    add
                </span>
            </div>

            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[inprogressList, doneList]"
                class="example-list" (cdkDropListDropped)="drop($event)" class="section__body" #sectionBody>

                <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                <div cdkDrag class="task__card">

                    <div class="task__cat">Test Category</div>

                    <div class="card__body">
                        <div class="task__title">
                            Kochwelt Page & Recipe Recommender
                        </div>
                        <div class="task__description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>

                    <div class="task__subtasks">
                        <!-- <div class="progressbar empty">
                            <div class="filler"></div>
                        </div> -->

                        <div class="progressbar half">
                            <div class="filler"></div>
                        </div>

                        <!-- <div class="progressbar full">
                            <div class="filler"></div>
                        </div> -->
                        <div class="progress__text">1/2 Subtasks</div>
                    </div>

                    <div class="card__footer">
                        <div class="assigned__users">
                            <div class="user__container user__orange">AM</div>
                            <div class="user__container user__green">EM</div>
                            <div class="user__container user__purple">MB</div>
                        </div>
                        <!-- <div class="material__symbols__outlined btn__green">keyboard_double_arrow_down</div>
                        <div class="material__symbols__outlined btn__yellow">double_arrow</div> -->
                        <div class="material__symbols__outlined task__card__prio btn__red">keyboard_double_arrow_up
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="in__progress">

            <div class="section__header">
                <h3>In progress</h3>
                <span class="material__symbols__outlined">
                    add
                </span>
            </div>

            <div cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="inprogress" [cdkDropListConnectedTo]="[todoList, doneList]"
                class="example-list" (cdkDropListDropped)="drop($event)" class="section__body" #sectionBody>
                <div class="example-box" *ngFor="let item of inprogress" cdkDrag>{{item}}</div>
            </div>

        </section>

        <section class="await__feedback">

            <div class="section__header">
                <h3>Await feedback</h3>
                <span class="material__symbols__outlined">
                    add
                </span>
            </div>

            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[todoList, doneList]"
                class="example-list" (cdkDropListDropped)="drop($event)" class="section__body" #sectionBody>
                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
            </div>

        </section>

        <section class="done">

            <div class="section__header">
                <h3>Done</h3>
                <span class="material__symbols__outlined">
                    add
                </span>
            </div>

            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList, inprogressList]"
                class="example-list" (cdkDropListDropped)="drop($event)" class="section__body" #sectionBody>
                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
            </div>

        </section>

    </main>
</div>