<div class="del__animation__overlay" [class.active]="displayDeletionAnimation">
  <div class="del__success__message" [class.show]="displayDeletionAnimation">
    Task deleted
    <span class="material__symbols__outlined">check</span>
  </div>
</div>

<div class="board__container no__select">
  <header class="header__desktop">
    <h2>Board</h2>
    <div class="header__right">
      <div class="input__container">
        <span (click)="searchBar.focus()" class="material__symbols__outlined magnifier">search</span>
        <span (click)="searchBar.focus()" class="pipe">|</span>
        <input (input)="searchTasks()" placeholder="Find Task" #searchBar placeholder="Name" />
      </div>
      <button (click)="openAddTaskDialog('todo')" class="btn__primary" type="button">
        <span class="btn__text">Add task</span>
        <span class="material__symbols__outlined">add</span>
      </button>
    </div>
  </header>

  <header class="header__mobile">
    <div class="headline">
      <h2>Board</h2>
      <button (click)="openAddTaskDialog('todo')" class="btn__primary" type="button">
        <span class="material__symbols__outlined">add</span>
      </button>
    </div>
    <div class="input__container">
      <span (click)="searchBar.focus()" class="material__symbols__outlined magnifier">search</span>
      <span (click)="searchBar.focus()" class="pipe">|</span>
      <input (input)="searchTasks()" placeholder="Find Task" #searchBar placeholder="Name" />
    </div>
  </header>

  <main cdkScrollable #mainContainer>
    <section class="to__do">
      <div class="section__header">
        <h3>To do</h3>
        <span (click)="openAddTaskDialog('todo')" class="material__symbols__outlined">add</span>
      </div>

      <div
        cdkDropList
        [cdkDropListOrientation]="dropListOrienatation"
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[inprogressList, awaitfeedbackList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="section__body"
        #sectionBody>
        <div
          (click)="openTaskDetails(item)"
          cdkDrag
          [cdkDragStartDelay]="dragDelay"
          (cdkDragStarted)="onDragStarted($event, item)"
          class="task__card no__select"
          *ngFor="let item of todo"
          cdkDrag
          #taskCard>
          <div
            class="task__cat"
            [ngClass]="{
              category__tech: item.category === 'Technical Task',
              category__user: item.category === 'User Story'
            }">
            {{ item.category }}
          </div>

          <div class="card__body">
            <div class="task__title">
              {{ item.title }}
            </div>
            <div class="task__description">
              {{ item.description }}
            </div>
            <app-progress-bar [subtasks]="item.subtasks"></app-progress-bar>
          </div>

          <!-- <div *ngIf="item.subTasks.length > 0" class="task__subtasks"> -->

          <!-- <div class="progressbar" [ngClass]="determineSubtaskProgress(item.subTasksCompleted)">
                            <div class="filler"></div>
                        </div> -->

          <!-- <div class="progress__text">{{ countSubtasksCompleted(item.subTasksCompleted) }}/{{
                            item.subTasksCompleted.length }} Subtasks</div> -->
          <!-- </div> -->

          <div class="card__footer">
            <div class="assigned__users">
              <!-- <div *ngFor="let mail of item.assignedTo | slice:0:5" [ngStyle]="{'background-color': getUserColor(mail)}" class="user__container user__orange">{{ getUserInitials(mail) }}</div> -->
              <div
                *ngFor="let user of limitUsers(item.users, 5)"
                [ngStyle]="{ 'background-color': user.user_color }"
                class="user__container">
                {{ user.initials }}
              </div>
            </div>
            <div *ngIf="item.priority === 'urgent'" class="material__symbols__outlined task__card__prio prio__red">
              keyboard_double_arrow_up
            </div>
            <div *ngIf="item.priority === 'medium'" class="material__symbols__outlined task__card__prio prio__yellow">
              double_arrow
            </div>
            <div *ngIf="item.priority === 'low'" class="material__symbols__outlined task__card__prio prio__green">
              keyboard_double_arrow_down
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="in__progress">
      <div class="section__header">
        <h3>In progress</h3>
        <span (click)="openAddTaskDialog('in_progress')" class="material__symbols__outlined">add</span>
      </div>

      <div
        cdkDropList
        [cdkDropListOrientation]="dropListOrienatation"
        #inprogressList="cdkDropList"
        [cdkDropListData]="inprogress"
        [cdkDropListConnectedTo]="[todoList, awaitfeedbackList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="section__body"
        #sectionBody>
        <div
          (click)="openTaskDetails(item)"
          cdkDrag
          [cdkDragStartDelay]="dragDelay"
          (cdkDragStarted)="onDragStarted($event, item)"
          class="task__card no__select"
          *ngFor="let item of inprogress"
          cdkDrag
          #taskCard>
          <div
            class="task__cat"
            [ngClass]="{
              category__tech: item.category === 'Technical Task',
              category__user: item.category === 'User Story'
            }">
            {{ item.category }}
          </div>

          <div class="card__body">
            <div class="task__title">
              {{ item.title }}
            </div>
            <div class="task__description">
              {{ item.description }}
            </div>
          </div>

          <!-- <div *ngIf="item.subTasks.length > 0" class="task__subtasks"> -->

          <!-- <div class="progressbar" [ngClass]="determineSubtaskProgress(item.subTasksCompleted)">
                            <div class="filler"></div>
                        </div> -->

          <!-- <div class="progress__text">{{ countSubtasksCompleted(item.subTasksCompleted) }}/{{
                            item.subTasksCompleted.length }} Subtasks</div> -->
          <!-- </div> -->

          <div class="card__footer">
            <div class="assigned__users">
              <!-- <div *ngFor="let mail of item.assignedTo | slice:0:5" [ngStyle]="{'background-color': getUserColor(mail)}" class="user__container user__orange">{{ getUserInitials(mail) }}</div> -->
              <div
                *ngFor="let user of limitUsers(item.users, 5)"
                [ngStyle]="{ 'background-color': user.user_color }"
                class="user__container">
                {{ user.initials }}
              </div>
            </div>
            <div *ngIf="item.priority === 'urgent'" class="material__symbols__outlined task__card__prio prio__red">
              keyboard_double_arrow_up
            </div>
            <div *ngIf="item.priority === 'medium'" class="material__symbols__outlined task__card__prio prio__yellow">
              double_arrow
            </div>
            <div *ngIf="item.priority === 'low'" class="material__symbols__outlined task__card__prio prio__green">
              keyboard_double_arrow_down
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="await__feedback">
      <div class="section__header">
        <h3>Await feedback</h3>
        <span (click)="openAddTaskDialog('await_feedback')" class="material__symbols__outlined">add</span>
      </div>

      <div
        cdkDropList
        [cdkDropListOrientation]="dropListOrienatation"
        #awaitfeedbackList="cdkDropList"
        [cdkDropListData]="awaitfeedback"
        [cdkDropListConnectedTo]="[todoList, inprogressList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="section__body"
        #sectionBody>
        <div
          (click)="openTaskDetails(item)"
          cdkDrag
          [cdkDragStartDelay]="dragDelay"
          (cdkDragStarted)="onDragStarted($event, item)"
          class="task__card no__select"
          *ngFor="let item of awaitfeedback"
          cdkDrag
          #taskCard>
          <div
            class="task__cat"
            [ngClass]="{
              category__tech: item.category === 'Technical Task',
              category__user: item.category === 'User Story'
            }">
            {{ item.category }}
          </div>

          <div class="card__body">
            <div class="task__title">
              {{ item.title }}
            </div>
            <div class="task__description">
              {{ item.description }}
            </div>
          </div>

          <!-- <div *ngIf="item.subTasks.length > 0" class="task__subtasks"> -->

          <!-- <div class="progressbar" [ngClass]="determineSubtaskProgress(item.subTasksCompleted)">
                            <div class="filler"></div>
                        </div> -->

          <!-- <div class="progress__text">{{ countSubtasksCompleted(item.subTasksCompleted) }}/{{
                            item.subTasksCompleted.length }} Subtasks</div> -->
          <!-- </div> -->

          <div class="card__footer">
            <div class="assigned__users">
              <!-- <div *ngFor="let mail of item.assignedTo | slice:0:5" [ngStyle]="{'background-color': getUserColor(mail)}" class="user__container user__orange">{{ getUserInitials(mail) }}</div> -->
              <div
                *ngFor="let user of limitUsers(item.users, 5)"
                [ngStyle]="{ 'background-color': user.user_color }"
                class="user__container">
                {{ user.initials }}
              </div>
            </div>
            <div *ngIf="item.priority === 'urgent'" class="material__symbols__outlined task__card__prio prio__red">
              keyboard_double_arrow_up
            </div>
            <div *ngIf="item.priority === 'medium'" class="material__symbols__outlined task__card__prio prio__yellow">
              double_arrow
            </div>
            <div *ngIf="item.priority === 'low'" class="material__symbols__outlined task__card__prio prio__green">
              keyboard_double_arrow_down
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="done">
      <div class="section__header">
        <h3>Done</h3>
        <span (click)="openAddTaskDialog('done')" class="material__symbols__outlined">add</span>
      </div>

      <div
        cdkDropList
        [cdkDropListOrientation]="dropListOrienatation"
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, awaitfeedbackList, inprogressList]"
        (cdkDropListDropped)="drop($event)"
        class="section__body"
        #sectionBody>
        <div
          (click)="openTaskDetails(item)"
          cdkDrag
          [cdkDragStartDelay]="dragDelay"
          (cdkDragStarted)="onDragStarted($event, item)"
          class="task__card no__select"
          *ngFor="let item of done"
          cdkDrag
          #taskCard>
          <div
            class="task__cat"
            [ngClass]="{
              category__tech: item.category === 'Technical Task',
              category__user: item.category === 'User Story'
            }">
            {{ item.category }}
          </div>

          <div class="card__body">
            <div class="task__title">
              {{ item.title }}
            </div>
            <div class="task__description">
              {{ item.description }}
            </div>
          </div>

          <!-- <div *ngIf="item.subTasks.length > 0" class="task__subtasks"> -->

          <!-- <div class="progressbar" [ngClass]="determineSubtaskProgress(item.subTasksCompleted)">
                            <div class="filler"></div>
                        </div> -->

          <!-- <div class="progress__text">{{ countSubtasksCompleted(item.subTasksCompleted) }}/{{
                            item.subTasksCompleted.length }} Subtasks</div> -->
          <!-- </div> -->

          <div class="card__footer">
            <div class="assigned__users">
              <!-- <div *ngFor="let mail of item.assignedTo | slice:0:5" [ngStyle]="{'background-color': getUserColor(mail)}" class="user__container user__orange">{{ getUserInitials(mail) }}</div> -->
              <div
                *ngFor="let user of limitUsers(item.users, 5)"
                [ngStyle]="{ 'background-color': user.user_color }"
                class="user__container">
                {{ user.initials }}
              </div>
            </div>
            <div *ngIf="item.priority === 'urgent'" class="material__symbols__outlined task__card__prio prio__red">
              keyboard_double_arrow_up
            </div>
            <div *ngIf="item.priority === 'medium'" class="material__symbols__outlined task__card__prio prio__yellow">
              double_arrow
            </div>
            <div *ngIf="item.priority === 'low'" class="material__symbols__outlined task__card__prio prio__green">
              keyboard_double_arrow_down
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
