.board__container {
    height: calc(100vh - 224px);
    padding: 64px;
    // display: flex;
    // flex-direction: column;

    header {
        height: 140px;
        display: flex;
        justify-content: space-between;
    }

    main {
        // height: calc(100vh - 224px);
        // flex: 1;
        height: calc(100% - 96px);
        display: flex;
        justify-content: space-between;

        .main__element {
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 20px;
                font-weight: 700;
            }
            
            .column__body {
                flex: 1;
                overflow-y: auto;
            }
        }
    }
}