@mixin task__card__styles() {
  width: 198px;
  background-color: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  @media (width <=992px) {
    min-width: 200px;
    // height: 195px;
    height: 215px;
  }

  .task__cat {
    width: fit-content;
    padding: 4px 16px;
    border-radius: 8px;
    font-weight: 400;
    color: white;
    margin-bottom: 24px;
  }

  .category__tech {
    background-color: #1fd7c1;
  }

  .category__user {
    background-color: #0038ff;
  }

  .card__body {
    margin-bottom: 24px;

    .task__title {
      font-weight: 700;
      margin-bottom: 8px;
    }

    .task__description {
      color: #a8a8a8;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
    }
  }

  .task__subtasks {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .progressbar {
      min-width: 109px;
      height: 8px;
      background-color: #f4f4f4;
      border-radius: 16px;
      overflow: hidden;

      @media (width <=992px) {
        min-width: 109px;
      }

      .filler {
        height: 100%;
        background-color: #4589ff;
        transition: width 0.3s ease;
        border-radius: 16px;
      }
    }

    .progressbar.empty {
      .filler {
        width: 0%;
      }
    }

    .progressbar.half {
      .filler {
        width: 50%;
      }
    }

    .progressbar.full {
      .filler {
        width: 100%;
      }
    }

    .progress__text {
      white-space: nowrap;
      margin-left: 11px;
      font-size: 12px;
    }
  }

  .card__footer {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .assigned__users {
      display: flex;

      .user__container {
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 50%;
        font-size: 12px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:first-child) {
          margin-left: -7px;
        }
      }
    }

    .task__card__prio {
      font-weight: 700;
      font-size: 30px;
    }

    .prio__red {
      color: var(--task-prio-urgent);
    }

    .prio__yellow {
      color: var(--task-prio-medium);
    }

    .prio__green {
      color: var(--task-prio-low);
    }
  }
}

.board__container {
  height: calc(100vh - 238px);
  padding: 48px 0 0 0;

  @media (width <=992px) {
    padding: 32px 0;
  }

  @media (width <=576px) {
    overflow-y: auto;
    height: auto;
    padding-bottom: 0;
  }

  .header__desktop {
    max-width: 1582px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    margin-bottom: 40px;
    padding-left: 48px;

    @media (width <=992px) {
      height: auto;
      padding: 0 16px;
      margin-right: 0px;
      margin-bottom: 4px;
    }

    @media (width <=576px) {
      display: none;
    }

    h2 {
      font-size: var(--fontsize-h2-desktop);
      margin: 0;

      @media (width <=992px) {
        font-size: var(--fontsize-h2-992);
      }

      @media (width <=768px) {
        font-size: 47px;
      }
    }

    .header__right {
      height: 48px;
      display: flex;
      gap: 16px;

      .input__container {
        position: relative;
        margin-left: 48px;

        .material__symbols__outlined {
          position: absolute;
          font-size: var(--fontsize-input-symbol);
          color: var(--main-slate);
          cursor: text;
        }

        .magnifier {
          top: calc(50% + 0.5px);
          transform: translate(0%, -50%);
          right: 21px;
        }

        .pipe {
          position: absolute;
          top: calc(50% + 0px);
          transform: translate(0%, -50%);
          right: 60px;
          font-size: var(--fontsize-input-symbol);
          font-weight: 200;
          color: var(--inactive-lite-grey);
          cursor: text;
        }

        input {
          width: calc(100% - 110px);
          padding: 11px 87px 11px 21px;
          border-radius: 10px;
          font-size: var(--fontsize-body);
          border: 1px solid var(--inactive-lite-grey);
          outline: 0;
          color: var(--input-text-black);
          font-family: inherit;

          &::placeholder {
            color: var(--inactive-lite-grey);
          }

          &:focus {
            border: 1px solid var(--accent-cyan);
          }
        }
      }

      button {
        min-width: 152px;

        @media (width <=768px) {
          min-width: 48px;
          height: 48px;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          .btn__text {
            display: none;
          }

          .material__symbols__outlined {
            margin: 0 !important;
            font-size: 34px !important;
          }
        }

        @media (width <=576px) {
          display: none;
        }
      }
    }
  }

  .header__mobile {
    padding: 0 16px;

    @media (width >576px) {
      display: none;
    }

    .headline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      h2 {
        font-size: 47px;
        margin: 0;
      }

      button {
        min-width: 40px;
        height: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .material__symbols__outlined {
          margin: 0 !important;
          font-size: 30px !important;
        }
      }
    }

    .input__container {
      position: relative;
      width: calc(100% - 34px);

      .material__symbols__outlined {
        position: absolute;
        font-size: var(--fontsize-input-symbol);
        color: var(--main-slate);
        cursor: text;
      }

      .magnifier {
        top: calc(50% + 0.5px);
        transform: translate(0%, -50%);
        right: 21px;

        @media (width <=992px) {
          right: -18px;
        }
      }

      .pipe {
        position: absolute;
        top: calc(50% + 0px);
        transform: translate(0%, -50%);
        right: 60px;
        font-size: var(--fontsize-input-symbol);
        font-weight: 200;
        color: var(--inactive-lite-grey);
        cursor: text;

        @media (width <=992px) {
          right: 20px;
        }
      }

      input {
        width: calc(100% - 110px);
        padding: 11px 87px 11px 21px;
        border-radius: 10px;
        font-size: var(--fontsize-body);
        border: 1px solid var(--inactive-lite-grey);
        outline: 0;
        color: var(--input-text-black);
        font-family: inherit;

        @media (width <=576px) {
          width: 100%;
          font-size: var(--fontsize-body-mobile);
          padding: 10px 16px;
        }

        &::placeholder {
          color: var(--inactive-lite-grey);
        }

        &:focus {
          border: 1px solid var(--accent-cyan);
        }
      }
    }
  }

  main {
    width: calc(100vw - 339px);
    height: calc(100vh - 257px);
    display: flex;
    gap: 26px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 48px;
    padding-right: 40px;

    @media (width <=992px) {
      // width: calc(100vw - 16px);
      width: 100vw;
      height: calc(100vh - 317px);
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
      padding-top: 32px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 24px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media (width <=576px) {
      // width: calc(100vw - 0px);
      height: auto;
      padding-top: 24px;
      overflow-y: hidden;
    }

    section {
      width: 244px;
      min-width: 244px;

      @media (width <=992px) {
        width: auto;
        min-width: auto;
      }

      .section__header {
        display: flex;
        justify-content: space-between;
        color: #42526e;
        margin-bottom: 12px;
        padding: 0;

        @media (width <=992px) {
          padding: 0 15px;
        }

        h3 {
          margin: 0 0 0 8px;
          height: fit-content;
          font-weight: 700;
          white-space: nowrap;

          @media (width <=992px) {
            margin: 0 0 0 4px;
          }
        }

        span {
          border: 3px solid #42526e;
          border-radius: 8px;
          font-weight: 600;
          cursor: pointer;
        }
      }

      .section__body {
        height: calc(100vh - 330px);
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 24px;
        border-radius: 10px;
        margin-bottom: 24px;
        padding-bottom: 30px;

        &::-webkit-scrollbar-track {
          margin-bottom: 30px;
        }

        @media (width <=992px) {
          height: fit-content;
          min-height: 100px;
          flex-direction: row;
          margin-bottom: 0;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          padding: 0 16px;

          &::-webkit-scrollbar {
            height: 0;
            scrollbar-width: none;
          }
        }

        .no__task__message {
          color: red;
        }

        .task__card__ghost {
          height: 48px;
          background-color: #e7e7e7;
          border-radius: 10px;
          border: 1px dashed #a8a8a8;
          font-size: 16px;
          font-weight: 400;
          color: #a8a8a8;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .task__card {
          @include task__card__styles();
        }
      }

      .has__horizontal__scroll {
        height: calc(100vh - 340px);
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  @include task__card__styles();
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.section__body.cdk-drop-list-dragging .task__card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
