.board__container {
    height: calc(100vh - 224px);
    padding: 48px;

    @media (width <=992px) {
        height: calc(100vh - 304px);
    }

    header {
        height: 140px;
        display: flex;
        justify-content: space-between;

        h2 {
            font-size: var(--fontsize-h2-desktop);
            margin: 0 0 40px 0;

            @media (width <=992px) {
                font-size: var(--fontsize-h2-992);
            }

            @media (width <=640px) {
                font-size: 47px;
                margin: 0 0 32px 0;
            }
        }

        .header__right {
            height: 48px;
            display: flex;
            gap: 16px;

            .input__container {
                position: relative;
                margin-left: 48px;

                .material__symbols__outlined {
                    position: absolute;
                    font-size: var(--fontsize-input-symbol);
                    color: var(--main-slate);
                    cursor: text;
                }

                .magnifier {
                    top: calc(50% + 0.5px);
                    transform: translate(0%, -50%);
                    right: 21px;
                }

                .pipe {
                    position: absolute;
                    top: calc(50% + 0px);
                    transform: translate(0%, -50%);
                    right: 60px;
                    font-size: var(--fontsize-input-symbol);
                    font-weight: 200;
                    color: var(--inactive-lite-grey);
                    cursor: text;
                }

                input {
                    width: calc(100% - 110px);
                    padding: 11px 87px 11px 21px;
                    border-radius: 10px;
                    font-size: var(--fontsize-body);
                    border: 1px solid var(--inactive-lite-grey);
                    outline: 0;
                    color: var(--input-text-black);
                    font-family: inherit;

                    @media (width <=576px) {
                        // width: calc(100% - 78px);
                        font-size: var(--fontsize-body-mobile);
                    }

                    &::placeholder {
                        color: var(--inactive-lite-grey);
                    }

                    &:focus {
                        border: 1px solid var(--accent-cyan);
                    }
                }
            }

            button {
                min-width: 152px;
            }
        }
    }

    main {
        height: calc(100% - 96px);
        display: flex;
        justify-content: space-between;

        .main__element {
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 20px;
                font-weight: 700;
            }

            .column__body {
                flex: 1;
                overflow-y: auto;
            }
        }
    }
}