.board__container {
    height: 100%;
    padding: 64px;

    header {
        display: flex;
        justify-content: space-between;
    }

    main {
        height: 100%;
        display: flex;
        justify-content: space-between;

        .main__element {
            height: 100%;
            
            .column__body {
                height: 100%;
                overflow-y: auto;
            }
        }
    }
}