<div class="auth__container">

    <header>
        <img src="assets/img/auth/intro-j.webp" alt="" draggable="false">
    </header>

    <main>
        <div class="window">
            <div class="window__header">
                <div class="window__header__side">
                    <div class="hover__area no__select">
                        <div class="transform__circle"></div>
                        <span routerLink="/" class="material__symbols__outlined single__icon">arrow_back</span>
                    </div>
                </div>
                <h1>I forgot my password
                </h1>
                <div class="window__header__side"></div>
            </div>

            <hr>

            <p>Don't worry! We will send you an email with the instructions to reset your password.</p>

            <form [formGroup]="passwordMailForm" (ngSubmit)="onSubmit()">

                <div class="input__container">
                    <span (click)="passwordMail.focus()" class="material__symbols__outlined">
                        mail
                    </span>
                    <input #passwordMail id="passwordMail" formControlName="passwordMail" placeholder="Email" type="email">
                </div>
                <div class="incorrect__input">
                    <span *ngIf="passwordMailForm.controls.passwordMail.invalid &&
                        passwordMailForm.controls.passwordMail.touched && 
                        passwordMailForm.controls.passwordMail.value">Invalid
                        email
                        address.</span>
                </div>

                <div class="login__btns">
                    <button type="submit" class="btn__primary">Send me the email</button>
                </div>

            </form>

        </div>
    </main>
</div>