<div class="greeting__screen__mobile" id="greetingScreenMobile" *ngIf="showGreetingScreenMobile"
    style="z-index:999999999;position:absolute;width:100%;height:calc(100% - 159px);background-color:#F6F7F8;">
    <span *ngIf="currenUserIsGuest" class="greeting">Good morning!</span>
    <span *ngIf="!currenUserIsGuest" class="greeting">Good morning,<br>
        <b class="name">{{currentUserData.userName}}</b></span>
</div>

<div class="summary__container">
    <header>
        <h2>Join 360</h2>
        <div class="hr__container">
            <hr>
        </div>
        <span>Key Metrics at a Glance in a nutshell!</span>
    </header>
    <main>

        <div class="main__left">

            <div class="row">
                <div class="box">
                    <div class="material__symbols__outlined box__left">edit</div>
                    <div class="box__right">
                        <div class="number">22</div>
                        <div class="text">To-do</div>
                    </div>
                </div>
                <div class="box">
                    <div class="material__symbols__outlined box__left">done</div>
                    <div class="box__right">
                        <div class="number">99</div>
                        <div class="text">Done</div>
                    </div>
                </div>
            </div>
            <!-- <div class="row2">
                <div class="box">
                    <div class="urgent">
                        <div class="material__symbols__outlined box__left">edit</div>
                        <div class="box__right">
                            <div class="number">99</div>
                            <div class="text">Done</div>
                        </div>
                    </div>
                    <div class="hr__container">
                        <hr>
                    </div>
                    <div class="box__date">
                        <div class="date">October 16, 2022</div>
                        <div class="text">Upcoming Deadline</div>
                    </div>
                </div>
            </div> -->

            <div class="row2test">
                <div class="row2container">
                    <div class="box">
                        <div class="material__symbols__outlined box__left">edit</div>
                        <div class="box__right">
                            <div class="number">1</div>
                            <div class="text">To-do</div>
                        </div>
                    </div>
                    <div class="hr__container">
                        <!-- <hr> -->
                    </div>
                    <div class="box box__date">
                        <div class="date">October 16, 2022</div>
                        <div class="text">Upcoming Deadline</div>
                    </div>
                </div>
            </div>


            <div class="row__number3">
                <div class="board"></div>
                <div class="progress"></div>
                <div class="feedback"></div>
            </div>
        </div>

        <div class="main__right">
            <span *ngIf="currenUserIsGuest" class="greeting">Good morning!</span>
            <span *ngIf="!currenUserIsGuest" class="greeting">Good morning,<br>
                <b class="name">{{currentUserData.userName}}</b></span>
        </div>
    </main>
</div>