.greeting__screen__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 6px 10px -5px rgba(0, 0, 0, 0.2);
    animation: fadeOut 1000ms ease 1500ms forwards;
    // The first time unit corresponds to the animation duration, the second to the delay after which the animation starts

    @media (width >992px) {
        display: none;
    }

    span {
        font-size: 36px;
        text-align: center;

        b {
            font-size: 47px;
            font-weight: 700;
            color: var(--accent-cyan);
        }
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.summary__container {
    width: calc(100% - 128px);
    height: calc(100% - 128px);
    padding: 64px;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        align-items: center;
        height: 73px;
        margin-bottom: 56px;

        h2 {
            font-size: 61px;
            font-weight: 700;
            margin: 0;
        }

        .hr__container {
            margin: 0 30px;

            hr {
                height: 64px;
                width: 1px;
                background-color: var(--accent-cyan);
                border: 1px solid var(--accent-cyan);
                border-radius: 50px;
            }
        }

        span {
            font-size: 27px;
        }
    }

    main {
        width: 100%;
        display: flex;
        flex: 1;

        .main__left {
            width: 50%;
            max-width: 771px;
            max-height: 570px;

            @media (width <=992px) {
                width: 100%;
            }

            .row {
                display: flex;
                gap: 32px;

                .box {
                    background-color: var(--window-white);
                    width: calc(266px - 2 * 48px);
                    padding: 48px;
                    border-radius: 30px;
                    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // gap: 18px;
                    flex: 1;
                    cursor: pointer;
                    transition: all 100ms ease-out;

                    &:hover {
                        background-color: var(--main-slate);
                        // transform: scale(1.01);

                        .box__left {
                            background-color: var(--window-white);
                            color: var(--main-slate);
                        }

                        .box__right {
                            color: var(--window-white);
                        }
                    }

                    .box__left {
                        width: 69px;
                        height: 69px;
                        background-color: var(--main-slate);
                        border-radius: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--window-white);
                        font-size: 32px;
                        margin-right: 18px;
                    }

                    .box__right {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .number {
                            width: 77px;
                            font-weight: 600;
                            font-size: 64px;
                            white-space: nowrap;
                            text-align: center;
                        }

                        .text {
                            font-size: 20px;
                            white-space: nowrap;
                        }
                    }
                }
            }

            .row2 {
                display: flex;
                gap: 32px;

                .box {
                    background-color: var(--window-white);
                    padding: 48px;
                    border-radius: 30px;
                    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 18px;
                    flex: 1;
                    cursor: pointer;
                    transition: all 100ms ease-out;

                    &:hover {
                        background-color: var(--main-slate);
                        // transform: scale(1.01);

                        .box__left {
                            background-color: var(--window-white);
                            color: var(--main-slate);
                        }

                        .box__right {
                            color: var(--window-white);
                        }
                    }

                    .box__left {
                        width: 69px;
                        height: 69px;
                        background-color: var(--main-slate);
                        border-radius: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--window-white);
                        font-size: 32px;
                    }

                    .box__right {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .number {
                            font-weight: 600;
                            font-size: 64px;
                        }

                        .text {
                            font-size: 20px;
                        }
                    }

                    .hr__container {
                        margin: 0 30px;

                        hr {
                            height: 102px;
                            background-color: #D1D1D1;
                            border: 1px solid #D1D1D1;
                            border-radius: 50px;
                        }
                    }

                    .box__date {

                        .date {
                            font-size: 21px;
                            font-weight: 700;
                        }

                        .text {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .main__right {
            width: 50%;
            max-width: 771px;
            max-height: 570px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (width <=992px) {
                display: none;
            }

            span {
                font-size: 47px;

                b {
                    font-size: 64px;
                    font-weight: 700;
                    color: var(--accent-cyan);
                }
            }
        }
    }
}