.greeting__screen__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 6px 10px -5px rgba(0, 0, 0, 0.2);
    animation: fadeOut 1000ms ease 1500ms forwards;
    // The first time unit corresponds to the animation duration, the second to the delay after which the animation starts

    @media (width >992px) {
        display: none;
    }

    span {
        font-size: 36px;
        text-align: center;

        b {
            font-size: 47px;
            font-weight: 700;
            color: var(--accent-cyan);
        }
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.summary__container {
    width: calc(100% - 96px);
    // height: calc(100% - 96px);
    padding: 48px 48px 64px 48px;
    display: flex;
    flex-direction: column;

    @media (width <=992px) {
        width: calc(100% - 32px);
        padding: 32px 16px 48px 16px;
    }

    @media (width <=640px) {
        align-items: center;
    }

    .header__desktop {
        display: flex;
        align-items: center;
        height: 73px;
        margin-bottom: 40px;

        @media (width <=992px) {
            justify-content: center;
        }

        @media (width <=640px) {
            display: none;
        }

        h2 {
            font-size: 61px;
            font-weight: 700;
            margin: 0;

            @media (width <=992px) {
                font-size: 54px;
            }
        }

        .hr__container {
            margin: 0 30px;

            hr {
                height: 64px;
                width: 1px;
                background-color: var(--accent-cyan);
                border: 1px solid var(--accent-cyan);
                border-radius: 50px;
            }
        }

        span {
            font-size: 27px;

            @media (width <=992px) {
                font-size: 25px;
            }
        }
    }

    .header__mobile {

        width: 453.1px;

        @media (width >640px) {
            display: none
        }

        h2 {
            font-size: 47px;
            margin: 0 0 8px 0;
        }

        span {
            font-size: 20px;
        }

        div {
            width: 96px;
            border-bottom: 4px solid var(--accent-cyan);
            border-radius: 5px;
            margin-top: 8px;
        }
    }

    main {
        width: 100%;
        display: flex;
        flex: 1;

        @media (width <=992px) {
            justify-content: center;
        }

        @media (width <=640px) {
            padding-top: 32px;
            width: 453.1px;
        }

        .main__left {
            width: 607px;
            max-height: 570px;
            display: flex;
            flex-direction: column;
            gap: var(--main-gap-desktop);

            @media (width <=992px) {
                gap: var(--main-gap-992);
            }

            @media (width <=640px) {
                width: 100%;
                gap: var(--main-gap-640);
            }

            .row1 {
                display: flex;
                gap: var(--main-gap-desktop);

                @media (width <=992px) {
                    gap: var(--main-gap-992);
                }

                @media (width <=640px) {
                    gap: var(--main-gap-640);
                }

                .box {
                    width: 260px;
                    background-color: var(--window-white);
                    padding: var(--main-box-padding-desktop);
                    border-radius: 30px;
                    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                    cursor: pointer;
                    transition: all 100ms ease-out;

                    &:hover {
                        background-color: var(--main-slate);

                        .box__left {
                            background-color: var(--window-white);
                            color: var(--main-slate);
                        }

                        .box__right {
                            color: var(--window-white);
                        }
                    }

                    @media (width <=640px) {
                        padding: var(--main-box-padding-640);
                        flex: 0;
                    }

                    .box__left {
                        width: var(--main-icon-bg-size-desktop);
                        height: var(--main-icon-bg-size-desktop);
                        background-color: var(--main-slate);
                        border-radius: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--window-white);
                        font-size: var(--main-icon-pen-size-desktop);
                        margin-right: 18px;

                        @media (width <=640px) {
                            width: var(--main-icon-bg-size-640);
                            height: var(--main-icon-bg-size-640);
                            font-size: var(--main-icon-pen-size-640);
                        }
                    }

                    .done {
                        font-size: var(--main-icon-done-urgent-size-desktop);
                        font-weight: 900;

                        @media (width <=640px) {
                            font-size: var(--main-icon-done-urgent-size-640);
                        }
                    }

                    .box__right {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .number {
                            width: 77px;
                            font-weight: 600;
                            font-size: var(--main-number-size-desktop);
                            white-space: nowrap;
                            text-align: center;

                            @media (width <=640px) {
                                font-size: var(--main-number-size-640);
                            }
                        }

                        .text {
                            font-size: var(--main-text-size-desktop);
                            white-space: nowrap;

                            @media (width <=640px) {
                                font-size: var(--main-text-size-640);
                            }
                        }
                    }
                }
            }

            .row2 {
                display: flex;
                align-items: center;
                background-color: var(--window-white);
                border-radius: 30px;
                box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
                cursor: pointer;

                &:hover {
                    background-color: var(--main-slate);

                    .box__right {
                        color: var(--window-white);
                    }

                    .spacer {
                        border-left: 2px solid var(--window-white);
                    }

                    .box__date {
                        color: var(--window-white);
                    }
                }

                .box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: var(--main-box-padding-desktop);
                    transition: all 100ms ease-out;

                    @media (width <=640px) {
                        padding: var(--main-box-padding-640);
                    }

                    .box__left {
                        width: var(--main-icon-bg-size-desktop);
                        height: var(--main-icon-bg-size-desktop);
                        border-radius: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--window-white);
                        margin-right: 18px;
                        background-color: #FF3D00;
                        font-size: var(--main-icon-done-urgent-size-desktop);
                        font-weight: 400;

                        @media (width <=640px) {
                            width: var(--main-icon-bg-size-640);
                            height: var(--main-icon-bg-size-640);
                        }
                    }

                    .box__right {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .number {
                            width: 77px;
                            font-weight: 600;
                            font-size: var(--main-number-size-desktop);
                            white-space: nowrap;
                            text-align: center;

                            @media (width <=640px) {
                                font-size: var(--main-number-size-640);
                            }
                        }

                        .text {
                            font-size: var(--main-text-size-desktop);
                            white-space: nowrap;

                            @media (width <=640px) {
                                font-size: var(--main-text-size-640);
                            }
                        }
                    }
                }

                .urgent {
                    width: 207.5px;

                    @media (width <=992px) {
                        width: 213.5px;
                    }
                }

                .box__date {
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 30px;

                    .date {
                        font-size: 21px;
                        font-weight: 700;
                        margin-bottom: 13px;
                        transition: none;
                        white-space: nowrap;
                    }

                    .date__text {
                        font-size: 16px;
                        white-space: nowrap;
                        transition: none;
                    }
                }

                .spacer {
                    width: 32px;
                    height: 102px;
                    border-left: 2px solid #D1D1D1;
                    border-right: 2px solid rgba(0, 0, 0, 0)
                }
            }

            .row3 {
                display: flex;
                justify-content: space-between;
                gap: var(--main-gap-desktop);

                @media (width <=992px) {
                    gap: var(--main-gap-992);
                }

                @media (width <=640px) {
                    gap: var(--main-gap-640);
                }

                .row3__box {
                    background-color: var(--window-white);
                    padding: var(--main-box-padding-desktop);
                    border-radius: 30px;
                    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                    cursor: pointer;
                    transition: all 100ms ease-out;

                    @media (width <=640px) {
                        padding: var(--main-box-padding-640);
                    }

                    &:hover {
                        background-color: var(--main-slate);
                        color: var(--window-white);
                    }

                    .number {

                        font-weight: 600;
                        font-size: var(--main-number-size-desktop);
                        white-space: nowrap;
                        text-align: center;

                        @media (width <=640px) {
                            font-size: var(--main-number-size-640);
                        }
                    }

                    .text {
                        font-size: var(--main-text-size-desktop);
                        white-space: nowrap;

                        @media (width <=640px) {
                            font-size: var(--main-text-size-640);
                        }
                    }
                }
            }
        }

        .main__right {
            flex: 1;
            max-width: 771px;
            max-height: 570px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (width <=992px) {
                display: none;
            }

            span {
                margin-left: 15%;
                font-size: 47px;

                b {
                    font-size: 64px;
                    font-weight: 700;
                    color: var(--accent-cyan);
                }

                @media (width <=1400px) {
                    margin-left: 32px;
                    font-size: 28px;

                    b {
                        font-size: 38px;
                        font-weight: 700;
                        color: var(--accent-cyan);
                    }
                }

                @media (width <=1250px) {
                    font-size: 22px;

                    b {
                        font-size: 30px;
                        font-weight: 700;
                        color: var(--accent-cyan);
                    }
                }

                @media (width <=1200px) {
                    display: none;
                }
            }
        }
    }
}