<div id="loadingScreen no__select" *ngIf="showLoadingScreen"
    style="z-index:999999999;position:absolute;width:100vw;height:100vh;background-color:#F6F7F8;"
    class="intro__overlay fade__out__after__animation">
    <img style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:200px;height:auto;"
        src="assets/img/auth/intro-j.webp" alt="Main join logo">
</div>

<div style="opacity:0;" class="auth__container display__after__animation">

    <header>
        <img src="assets/img/auth/intro-j.webp" alt="Main join logo" draggable="false">
        <div class="signup__cta hidden__mobile">
            <div>Not a Join User?</div>
            <button routerLink="/auth-signup" class="btn__primary">Sign up</button>
        </div>
    </header>

    <main>
        <div class="window">
            <h1>Log in</h1>
            <hr>
            <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
                <div class="input__container">
                    <span (click)="logInMail.focus()" class="material__symbols__outlined">
                        mail
                    </span>
                    <input [attr.disabled]="isSubmitted ? true : null" #logInMail id="logInEmail" placeholder="Email"
                        type="email" formControlName="logInEmail" autocomplete="username">
                </div>
                <div class="incorrect__input">
                    <span *ngIf="logInForm.controls.logInEmail.invalid &&
                        logInForm.controls.logInEmail.dirty && 
                        logInForm.controls.logInEmail.value">Invalid
                        email
                        address.</span>
                </div>
                <div class="input__container">
                    <span (click)="logInPassword.focus()" class="material__symbols__outlined">
                        lock
                    </span>
                    <input #logInPassword id="logInPassword" placeholder="Password" type="password"
                        autocomplete="current-password" formControlName="logInPassword">
                </div>

                <div class="incorrect__input">
                    <span *ngIf="logInFailed">Incorrect
                        email or password. Please try again.</span>
                </div>

                <div class="auxiliaries">
                    <div class="auth__checkbox">
                        <input [attr.disabled]="isSubmitted ? true : null" name="cssCheckbox" id="logInRememberMe"
                            type="checkbox" class="css-checkbox" formControlName="logInRememberMe">
                        <label for="logInRememberMe">Remember me</label>
                    </div>
                    <div routerLink="/auth-password-mail" class="auth__textlink forgot__password">I forgot my password</div>
                </div>

                <div class="login__btns">
                    <button type="submit" class="btn__primary">Log in</button>
                    <button type="button" (click)="logInGuest(); $event.stopPropagation()"
                        class="btn__secondary user__attention">Guest Log in</button>
                </div>

            </form>
        </div>
    </main>

    <footer class="hidden__desktop">
        <div>Not a Join User?</div>
        <button routerLink="/auth-signup" class="btn__primary">Sign up</button>
    </footer>
</div>