<div class="auth__container display__after__animation">

    <header>
        <img src="assets/img/auth/intro-j.webp" alt="">
    </header>

    <main>
        <div class="window">
            <div class="window__header">
                <div class="window__header__side">
                    <div class="hover__area no__select">
                        <div class="transform__circle"></div>
                        <span routerLink="/" class="material__symbols__outlined single__icon">arrow_back</span>
                    </div>
                </div>
                <h1>Sign up
                </h1>
                <div class="window__header__side"></div>
            </div>

            <hr>

            <form>

                <div class="input__container">
                    <span (click)="signUpUserName.focus()" class="material__symbols__outlined">
                        person
                    </span>
                    <input #signUpUserName id="signUpUserName" placeholder="Name" type="text">
                </div>
                <div class="incorrect__input">
                    <span>Enter a name with 1 to 16 characters</span>
                </div>

                <div class="input__container">
                    <span (click)="inputPassword.focus()" class="material__symbols__outlined">
                        lock
                    </span>
                    <input #inputPassword placeholder="Password" id="password" type="password">
                </div>

                <div class="incorrect__input">
                    <span>Password
                        required.</span>
                </div>

                <div class="auxiliaries">
                    <div class="remember__me">
                        <input name="cssCheckbox" id="rememberMe" type="checkbox"
                            class="css-checkbox">
                        <label for="rememberMe">Remember me</label>
                    </div>
                    <div class="forgot__password">I forgot my password</div>
                </div>

                <div class="login__btns">
                    <button type="submit" class="btn__primary">Log in</button>
                    <button class="btn__secondary">Guest Log in</button>
                </div>

            </form>

        </div>
    </main>
</div>