.intro__overlay {

    img {
        animation: moveToCorner 500ms ease-in-out 500ms forwards;
        // The first time unit corresponds to the animation duration, the second to the delay after which the animation starts
    }

    @keyframes moveToCorner {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: auto;
        }

        30% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: auto;
        }

        100% {
            top: 75px;
            left: 75px;
            width: 100px;
            height: auto;
            transform: none;
        }
    }
}

.fade__out__after__animation {
    animation: fadeOut 500ms ease 1000ms forwards;
    // The first time unit corresponds to the animation duration, the second to the delay after which the animation starts
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

// .login__container {
//     header {
//         padding: 75px;
//         display: flex;
//         justify-content: space-between;

//         img {
//             width: 100px;
//             height: auto;
//         }
//     }
// }

.display__after__animation {
    animation: display 0ms ease 750ms forwards;
    // The first time unit corresponds to the animation duration, the second to the delay after which the animation starts
}

@keyframes display {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.login__container {
    position: relative;
    width: calc(100vw - 150px);
    height: calc(100vh - 150px);
    padding: 75px;

    img {
        width: 100px;
        height: auto;
    }

    .signup__cta {
        position: absolute;
        top: 75px;
        right: 75px;
        display: flex;
        align-items: center;

        button {
            font-size: 16px;
            margin-left: 35px;
        }
    }

    .window {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: fit-content;
        background-color: var(--window-white);
        padding: 48px 115px;
        border-radius: 30px;
        box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 61px;
            font-weight: 700;
            margin: 0;
        }

        hr {
            width: 150px;
            height: 1px;
            background-color: var(--accent-cyan);
            border: 1px solid var(--accent-cyan);
            border-radius: 4px;
            margin-bottom: 32px;
        }

        // .input__area {

        //     .input__container {
        //         position: relative;

        //         .material__symbols__outlined {
        //             position: absolute;
        //             top: 50%;
        //             transform: translate(0%, -50%);
        //             right: 21px;
        //             font-size: 26px;
        //             color: var(--inactive-lite-grey);
        //         }

        //         input {
        //             width: 400px;
        //             padding: 10px 47px 10px 21px;
        //             border-radius: 10px;
        //             font-size: 20px;
        //             border: 1px solid var(--inactive-lite-grey);
        //             color: var(--input-text-black);

        //             &::placeholder {
        //                 color: var(--inactive-lite-grey);
        //             }
        //         }
        //     }

        //     .incorrect__input {
        //         height: 32px;

        //         span {
        //             font-size: 14px;
        //             color: var(--invalid-red);
        //         }
        //     }
        // }

        form {

            .input__container {
                position: relative;

                .material__symbols__outlined {
                    position: absolute;
                    top: 50%;
                    transform: translate(0%, -50%);
                    right: 21px;
                    font-size: 26px;
                    color: var(--inactive-lite-grey);
                }

                input {
                    width: 354px;
                    padding: 10px 47px 10px 21px;
                    border-radius: 10px;
                    font-size: 20px;
                    border: 1px solid var(--inactive-lite-grey);
                    color: var(--input-text-black);

                    &::placeholder {
                        color: var(--inactive-lite-grey);
                    }
                }
            }

            .incorrect__input {
                height: 32px;

                span {
                    font-size: 14px;
                    color: var(--invalid-red);
                }
            }

            .auxiliaries {
                display: flex;
                font-size: 16px;

                >div {
                    flex-basis: 50%;
                    display: flex;
                    justify-content: center;
                }

                .remember__me {

                    .css-checkbox {
                        position: absolute;
                        overflow: hidden;
                        clip: rect(0 0 0 0);
                        height: 1px;
                        width: 1px;
                        margin: -1px;
                        padding: 0;
                        border: 0;
                    }

                    #inputPreview {
                        display: flex;
                        gap: 20px;
                        justify-content: center;
                    }

                    .css-checkbox+label {
                        position: relative;
                        font-size: 16px;
                        cursor: pointer;
                        display: inline-flex;
                        align-items: center;
                        height: 20px;
                        color: rgb(0, 0, 0);
                    }

                    .css-checkbox+label::before {
                        content: " ";
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 8px;
                        width: 16px;
                        height: 16px;
                        background-color: white;
                        border-width: 2px;
                        border-style: solid;
                        border-color: rgb(42, 54, 71);
                        border-radius: 3px;
                        box-shadow: none;
                    }

                    .css-checkbox:checked+label::after {
                        content: " ";
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMmEzNjQ3IiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
                        background-repeat: no-repeat;
                        background-size: 16px 16px;
                        background-position: center center;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 0px;
                        left: 0px;
                        top: 0px;
                        text-align: center;
                        background-color: transparent;
                        font-size: 10px;
                        height: 20px;
                        width: 20px;
                    }
                }

                .forgot__password {
                    color: var(--accent-cyan);
                }
            }

            .login__btns {
                margin-top: 32px;
                display: flex;
                justify-content: center;

                .btn__primary {
                    margin-right: 35px;
                }

                .btn__secondary {
                    font-size: 21px;
                    font-weight: 700;
                }
            }
        }

    }
}