.intro__overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #F6F7F8;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: auto;
        animation: moveToCorner 500ms ease-in-out 500ms forwards;
    }

    @keyframes moveToCorner {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: auto;
        }

        30% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: auto;
        }

        100% {
            top: 75px;
            left: 75px;
            width: 100px;
            height: auto;
            transform: none;
        }
    }
}

.fade-out-after-animation {
    animation: fadeOut 500ms ease-in-out 1000ms forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.display__after__animation {
    animation: display 0ms ease-in-out 750ms forwards;
}

@keyframes display {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header {
    padding: 75px;
    display: flex;
    justify-content: space-between;

    img {
        width: 100px;
        height: auto;
    }
}