.intro__overlay {

    img {
        animation: moveToCorner 500ms ease-in-out 500ms forwards;
        // The first time unit corresponds to the animation duration, the second to the delay after which the animation starts
    }

    @keyframes moveToCorner {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: auto;
        }

        30% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: auto;
        }

        100% {
            top: 75px;
            left: 75px;
            width: 100px;
            height: auto;
            transform: none;
        }
    }
}

.fade__out__after__animation {
    animation: fadeOut 500ms ease 1000ms forwards;
    // The first time unit corresponds to the animation duration, the second to the delay after which the animation starts
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

// .login__container {
//     header {
//         padding: 75px;
//         display: flex;
//         justify-content: space-between;

//         img {
//             width: 100px;
//             height: auto;
//         }
//     }
// }

.login__container {
    position: relative;
    padding: 75px;

    img {
        width: 100px;
        height: auto;
    }

    .signup__cta {
        position: absolute;
        top: 75px;
        right: 75px;
        display: flex;

        button {
            margin-left: 35px;
        }
    }
}

.display__after__animation {
    animation: display 0ms ease 750ms forwards;
    // The first time unit corresponds to the animation duration, the second to the delay after which the animation starts
}

@keyframes display {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}