<div style="z-index:999999999;position:absolute;width:100vw;height:100vh;background-color:#F6F7F8;"
    class="intro__overlay fade__out__after__animation">
    <img style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:200px;height:auto;"
        src="assets/img/auth/intro-j.webp" alt="">
</div>

<div style="opacity:0;" class="login__container display__after__animation">
    <!-- <header>
        <img src="assets/img/auth/intro-j.webp" alt="">
        <div class="header__right">
            <div>No a Join User?</div>
            <button>Sign up</button>
        </div>
    </header> -->

    <img src="assets/img/auth/intro-j.webp" alt="">
    <div class="signup__cta">
        <div>No a Join User?</div>
        <button class="standard__btn">Sign up</button>
    </div>
</div>