<div style="z-index:999999999;position:absolute;width:100vw;height:100vh;background-color:#F6F7F8;"
    class="intro__overlay fade__out__after__animation">
    <img style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:200px;height:auto;"
        src="assets/img/auth/intro-j.webp" alt="">
</div>

<main style="opacity:0;" class="login__container display__after__animation">

    <img src="assets/img/auth/intro-j.webp" alt="">

    <div class="signup__cta">
        <div>Not a Join User?</div>
        <button class="standard__btn">Sign up</button>
    </div>

    <div class="window">
        <h1>Log in</h1>
        <hr>
        <div class="input__container">
            <span class="material__symbols__outlined">
                mail
            </span>
            <input placeholder="Email" type="email">
        </div>
        <div class="incorrect__username"></div>
        <input type="text">
        <div class="incorrect__password"></div>
        <div>
            <div>
                <input type="checkbox">
                <div>Remember me</div>
            </div>
            <div>I forgot my password</div>
        </div>

        <div>
            <button class="standard__btn">Sign up</button>
            <button>Guest Log in</button>
        </div>

    </div>
</main>