<div id="loadingScreen" *ngIf="showLoadingScreen" style="z-index:999999999;position:absolute;width:100vw;height:100vh;background-color:#F6F7F8;"
    class="intro__overlay fade__out__after__animation">
    <img style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:200px;height:auto;"
        src="assets/img/auth/intro-j.webp" alt="">
</div>

<div style="opacity:0;" class="auth__container display__after__animation">

    <header>
        <img src="assets/img/auth/intro-j.webp" alt="">
        <div class="signup__cta hidden__mobile">
            <div>Not a Join User?</div>
            <button routerLink="/signup" class="btn__primary">Sign up</button>
        </div>
    </header>

    <main>
        <div class="window">
            <h1>Log in</h1>
            <hr>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="input__container">
                    <span (click)="inputMail.focus()" class="material__symbols__outlined">
                        mail
                    </span>
                    <input #inputMail id="email" placeholder="Email" type="email" formControlName="email">
                </div>
                <div class="incorrect__input">
                    <span *ngIf="loginForm.controls.email.errors && loginForm.controls.email.errors['email']">Invalid
                        email
                        address! Try again.</span>
                </div>

                <div class="input__container">
                    <span (click)="inputPassword.focus()" class="material__symbols__outlined">
                        lock
                    </span>
                    <input #inputPassword placeholder="Password" id="password" type="password" formControlName="password">
                </div>

                <div class="incorrect__input">
                    <span
                        *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors['password']">Password
                        required.</span>
                </div>

                <div class="auxiliaries">
                    <div class="remember__me">
                        <input name="cssCheckbox" id="rememberMe" type="checkbox" formControlName="rememberMe"
                            class="css-checkbox">
                        <label for="rememberMe">Remember me</label>
                    </div>
                    <div class="forgot__password">I forgot my password</div>
                </div>

                <div class="login__btns">
                    <button type="submit" class="btn__primary">Log in</button>
                    <button class="btn__secondary">Guest Log in</button>
                </div>
                
            </form>
        </div>
    </main>

    <footer class="hidden__desktop">
        <div>Not a Join User?</div>
        <button routerLink="/signup" class="btn__primary">Sign up</button>
    </footer>
</div>