@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf");
}

body {
    font-family: 'Inter', Arial, sans-serif !important;
    font-size: 20px;
    margin: 0;
    background-color: #F6F7F8;
}

.standard__btn {
    padding: 15px 16px;
    background-color: #2A3647;
    border-radius: 8px;
    border: 0;
    outline: 0;
    font-size: 16px;   
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
        background-color: #29ABE3;
    }
}