:root {
    --general-text-black: #000;
    --main-slate: #2A3647;
    --accent-cyan: #29ABE3;
    --inactive-lite-grey: #A8A8A8;
    --invalid-red: #FF001F;
    --input-text-black: #000;
    --window-white: #FFF;
    --background-offwhite: #F6F7F8;
    --nav-darkblue-highlight: #091931;

    --fontsize-body: 20px;
    --fontsize-body-mobile: 16px;
    --fontsize-auth-headline: 61px;
    --fontsize-input-symbol: 26px;
    --fontsize-incorrect-input: 14px;
    --fontsize-btn: 21px;
    --fontsize-btn-mobile: 16px;

    --main-640: 0.8;
    --main-gap-desktop: 32px;
    --main-gap-992: 20px;
    --main-gap-640: 12px;
    
    --main-box-padding-desktop: 40px;
    --main-box-padding-640: 40px 30px;

    --main-icon-bg-size-desktop: 69px;
    --main-icon-bg-size-640: calc(var(--main-icon-bg-size-desktop) * var(--main-640));
    --main-icon-pen-size-desktop: 32px;
    --main-icon-pen-size-640: calc(var(--main-icon-pen-size-desktop) * var(--main-640));
    --main-icon-done-urgent-size-desktop: 50px;
    --main-icon-done-urgent-size-640: calc(var(--main-icon-done-urgent-size-desktop) * var(--main-640));
    --main-number-size-desktop: 64px;
    --main-number-size-640: calc(var(--main-number-size-desktop) * var(--main-640));
    --main-text-size-desktop: 20px;
    --main-text-size-640: calc(var(--main-text-size-desktop) * var(--main-640));
}

@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: 'Material Icons Rounded';
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/material_icons/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2");
}

.material__symbols__outlined {
    font-family: 'Material Icons Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

    &:focus {
        outline: none !important;
    }
}

body {
    font-family: 'Inter', Arial, sans-serif !important;
    font-size: var(--fontsize-body);
    margin: 0;
    background-color: var(--background-offwhite);
    color: var(--general-text-black);
}

.btn__primary {
    padding: 15px 16px;
    background-color: var(--main-slate);
    border-radius: 8px;
    border: 0;
    outline: 0;
    font-size: var(--fontsize-btn);
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: all 100ms ease-in;

    @media (width <=576px) {
        font-size: var(--fontsize-btn-mobile);
    }

    &:hover {
        background-color: var(--accent-cyan);
        box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
    }
}

.btn__primary:disabled {
    cursor: not-allowed;

    &:hover {
        background-color: var(--main-slate);
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
}

.btn__secondary {
    padding: 15px 16px;
    background-color: var(--window-white);
    border-radius: 8px;
    border: 1px solid var(--main-slate);
    outline: 0;
    font-size: var(--fontsize-btn);
    font-weight: 700;
    color: var(--main-slate);
    cursor: pointer;
    transition: all 100ms ease-in;

    @media (width <=576px) {
        font-size: var(--fontsize-btn-mobile);
    }

    &:hover {
        border: 1px solid var(--accent-cyan);
        color: var(--accent-cyan);
        box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
    }
}

.no__select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.no__select:focus {
    outline: none !important;
}

.hover__area {
    position: relative;
    display: flex;
    width: 45px;
    height: 45px;
    text-decoration: none;
    cursor: pointer;

    .transform__circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #EEEEEE;
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
        transition: transform 0ms;
    }

    .single__icon {
        z-index: 10;
        margin: auto;
        color: var(--accent-cyan);
        font-size: 40px;
        font-weight: 500;
        transition: transform 0ms;
    }

    &:hover .transform__circle {
        transform: scale(1);
        opacity: 1;
        transition: transform 100ms ease-in;
    }

    &:hover .single__icon {
        transition: transform 100ms ease-in;
    }
}

.hidden__mobile {
    @media (width <=576px) {
        display: none !important;
    }
}

.hidden__desktop {
    @media (width >576px) {
        display: none !important;
    }
}