:root {
    --main-slate: #2A3647;
    --accent-cyan: #29ABE3;
    --window-white: #FFF;
    --background-offwhite: #F6F7F8;
}

@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: 'Material Icons Rounded';
    font-style: normal;
    font-weight: 400;
    /* path relative to the location of the css file (./css/style.css) */
    src: url("assets/fonts/material_icons/materialiconsround-regular.otf");
}

.material__symbols__outlined {
    font-family: 'Material Icons Rounded';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

// .material-symbols-outlined {
//     font-family: 'Material Icons';
//     font-weight: normal;
//     font-style: normal;
//     font-size: 24px;
//     /* Preferred icon size */
//     display: inline-block;
//     line-height: 1;
//     text-transform: none;
//     letter-spacing: normal;
//     word-wrap: normal;
//     white-space: nowrap;
//     direction: ltr;

//     /* Support for all WebKit browsers. */
//     -webkit-font-smoothing: antialiased;
//     /* Support for Safari and Chrome. */
//     text-rendering: optimizeLegibility;

//     /* Support for Firefox. */
//     -moz-osx-font-smoothing: grayscale;

//     /* Support for IE. */
//     font-feature-settings: 'liga';
// }

body {
    font-family: 'Inter', Arial, sans-serif !important;
    font-size: 20px;
    margin: 0;
    background-color: var(--background-offwhite);
    color: black;
}

.standard__btn {
    padding: 15px 16px;
    background-color: var(--main-slate);
    border-radius: 8px;
    border: 0;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
        background-color: var(--accent-cyan);
        box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
    }
}