<div class="privacy__container no__select">
  <header>
    <h2>Privacy Policy</h2>
    <div (click)="closeDialog()" class="hover__area no__select">
      <div class="transform__circle"></div>
      <span class="material__symbols__outlined single__icon">close</span>
    </div>
  </header>
  <h3>Gerneral information</h3>
  <p>
    As this app is not in use and serves to demonstrate my skills, there are no legally binding texts here. As an
    e-commerce manager, I am of course aware of the importance of legal texts on websites.
  </p>
  <p>
    You can get an impression of this in the data privacy section and imprint of my
    <a href="https://cw-coding.de/" target="_blank" class="auth__textlink">Portfolio</a>.
  </p>
</div>
