h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;

    @media (width <=992px) {
        display: none;
    }
}

img {
    // width: 32px;
    height: 46px;
    display: none;

    @media (width <=992px) {
        display: inline;
    }
}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;

    * {
        cursor: pointer;
    }

    .help {
        font-size: 22px;
        color: #A8A8A8;
        border-radius: 50%;
        transition: transform 100ms ease-in;

        &:hover {
            transform: scale(1.15);
        }

        @media (width <=992px) {
            display: none;
        }
    }

    .initial {
        width: 46px;
        height: 46px;
        font-size: 22px;
        font-weight: 700;
        color: var(--accent-cyan);
        border: 3px solid var( --main-slate);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: backgroud-color 100ms ease-in;

        &:hover {
            background-color: #E1E5EC;
        }
    }
}